RewriteEngine On

# If file or directory exists, serve it
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise, let the SPA handle it
RewriteRule ^ index.html [L]

